<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <form action="add-product-process" method="post">
        Name : <input type="text" name="text1" id="text1"/>
        Details : <input type="text" name="text2" id="text2"/>
        Price : <input type="text" name="text3" id="text3"/>
        <input type="submit"/>
    </form>
</body>
</html>